.whiteBackground{
    -fx-background-color: white;
}

.standartTextField{
    -fx-background-radius: 30;
    -fx-background-color: rgb(217, 217, 217);
}

.menuButton{
    -fx-background-color: rgb(170, 170, 170);
    -fx-background-radius: 0;
}

.menuButton:hover{
    -fx-background-color: rgb(154, 154, 154);
}

.menuPane{
    -fx-background-color: rgb(217, 217, 217);
}

.mainTable{
    -fx-background-radius: 10;
    -fx-border-color: grey;
    -fx-border-radius: 10;
}

.addButton{
    -fx-background-color: rgb(4, 191, 0);
    -fx-background-radius: 30;
}

.addButton:hover{
    -fx-background-color: rgb(4, 133, 0);
}

.deleteButton{
    -fx-background-color: rgb(255, 0, 0);
    -fx-background-radius: 30;
}

.deleteButton:hover{
    -fx-background-color: rgb(220, 0, 0);
    -fx-background-radius: 30;
}

.searchField{
    -fx-background-radius: 30;
}

.tableColumn{
    -fx-background-radius: 30;
}

.notification{
    -fx-background-color: grey;
    -fx-background-radius: 10;
}